@import './global.scss';
.files {
    padding-left: 0;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 0
}

.files>li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px;
    width: 100%;
    background: #fff;
    white-space: nowrap;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .03)
}

.files>li + li {
    margin-top: 15px
}

.files>li .avatars {
    margin-right: 15px
}

.files>li .avatars img {
    width: 42px;
    height: 42px
}

.files>li .avatars .btn {
    padding: 0;
    width: 40px;
    height: 40px
}

.files>li .avatars .eva {
    width: 20px;
    height: 20px;
    fill: #bdbac2
}

.files>li .meta {
    margin-right: auto
}

.files>li h5 {
    font-size: 16px;
    font-weight: 600;
    color: #007bff;
    white-space: normal;
    margin-bottom: 8px
}

.files>li h5:hover {
    text-decoration: underline
}

.files>li span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #bdbac2
}

.files>li .dropdown .btn {
    padding: 0;
    line-height: 0
}

.files>li .eva-more-vertical {
    fill: #bdbac2
}